<div class="main-landing-container">
  <div class="main-topbar">
    <app-topbar></app-topbar>
  </div>
  <div class="main-landing-content">
    <div class="main-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="main-footer-container">
  <app-footer></app-footer>
</div>


  <!-- <h1>Landing page</h1>
  <button type="button" name="test" (click)="onButtonPressed()"  class="btn btn-dark btn-lg btn-block">
    Test
  </button>
  <button type="button" name="create" (click)="onBotInitBtn()"  class="btn btn-dark btn-lg btn-block">
    Bot {{initBot? 'destroy' : 'start'}}
  </button>
  <div class="set-name">
    <div class="form-group">
      <label for=""></label>
      <input type="text"
        class="form-control" name="botName" id="" [(ngModel)]="botName" placeholder="bot name">
    </div>
    <button type="button" name="name" (click)="onBotNamePress()"  class="btn btn-dark btn-lg btn-block">
      Set Name
    </button>
  </div> -->